@model IEnumerable<CimaLek.Models.SeriesData>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}




<div class="container-fluid">
    <table class="table" style="width:100%">
        <thead style="width:100%">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.country)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.time)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreateDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Describtion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.rate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.type)
                </th>
                <th>
                    Author
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody style="width:100%">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.country)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.time)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreateDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Describtion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.rate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.type)
                    </td>
                    <td>
                        <a asp-action="AuthorIndex" asp-route-id="@item.seriesId">View Actors </a> |
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.seriesId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.seriesId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.seriesId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
